html {
  background-color: #dfecf0;
}

button {
  margin-bottom: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

h1 {
  color: #5e81d1;
  text-align: center;
}

.customerContainer, .prod_container, .cartContainer {
  /* background-color: #f16b44; */
}